.common {
  padding: 57px 20px 0 20px;
  margin-bottom: 100px;
}

.product-name {
  margin: 50px 0 30px 0;
  text-align: center;
  width: 100%;
  font-size: 270%;
}

.wrapper {
  display: flex;
}

.product-image {
  max-width: 100%;
  width: 720px;
  height: auto;
}

.content {
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;
}

.product-cost {
  font-weight: bold;
  font-size: 270%;
  margin-bottom: 60px;
}

.full-cost {
  font-weight: bold;
}

.product-description {
  flex: 1;
  line-height: 30px;
}

.product-counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
}
.small-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.button-increase {
  composes: small-button;
  margin: 0 10px;
}

.button-decrease {
  composes: small-button;
  margin-left: 10px;
}

.product-buttons {
  margin: 30px 0 100px 0;
}

.big-button {
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: 400;
  padding: 0 15px; 
  cursor: pointer;
}

.add-to-cart-button {
  composes: buttons from '../../assets/general.css';
  composes: big-button;

  margin-right: 10px;
    color: black;
    background: white;

  &:hover {
    color: white;
    background: color(black a(80%));
  }
}

.add-to-wish-list-button {
  composes: buttons from '../../assets/general.css';
  composes: big-button;
}

.similar-products-title {
  text-align: center;
  margin-top: 100px;
  font-size: 220%;
}