.container {
  padding: 57px 0 100px 0;
  min-height: 100vh;
}

.notFoundWrapper {
  margin-top: 70px;
  text-align: center;
}

.resultTitle {
  margin-top: 60px;
  display: block;
  width: 100%;
  text-align: center;
}

.nothing-to-see {
  margin-bottom: 40px;
  text-align: center;
}