$cart-width: 375px;
$glob-padding: 20px;

.header {
  display: flex;
  align-items: center;
  padding: 30px 0 15px $glob-padding;
  border-bottom: 1px solid color(black a(90%));
}

.continue-shopping {
  cursor: pointer;
}

.image-close {
  height: 22px;
  width: 22px;
  margin-right: 12px;
}

.bold-span {
  font-weight: bold;
  font-size: 150%;
}

/* most important part */
.panel {
  composes: slide-panel from '../../assets/general.css';
  width: $cart-width;
}

.panel-visible {
  composes: panel;
  right: 0;
}

.panel-hidden {
  composes: panel;
  right: -$cart-width;
}

/* products */
.product-list {
  flex: 1;
  overflow-y: auto;
}

.cost-wrapper {
  border-top: 1px solid color(black a(90%)); 
  padding: 40px $glob-padding 100px $glob-padding;
  display: flex;
  flex-flow: row wrap;
}

.cost-label {
  flex: 1;
  font-weight: bold;
  font-size: 18px;
  max-width: 100%;
}

.checkout {
  composes: buttons from '../../assets/general.css';
  height: 40px;
  font-size: 101%;
  margin-top: 30px;
}
