$btn-height: 35px;
$btn-color: black;

.button {
  color: color($btn-color a(70%));
  cursor: pointer;
  background-color: transparent;
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  max-width: 320px;
  min-height: $btn-height;
  line-height: $btn-height;
  text-transform: uppercase;
  border: 1px solid currentColor;
  transition: all .6s ease;

  &:first-child {
    margin-bottom: 10px;
  }

  &:hover {
    color: #eeeed1;
    letter-spacing: 1px;

    &:before {
      transform: translateX(0);
    }
  }

  &:before {
    content: '';
    z-index: -1;
    transition: all .6s ease;
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: $btn-height solid color($btn-color a(85%));
    transform: translateX(-100%);
  }
}

.enabled {
  composes: button;
}

.disabled {
  composes: button;

  &:after {
    content: '';
    z-index: -1;
    transition: all .6s ease;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50px;
    border-left: 50px solid transparent;
    border-top: $btn-height solid color($btn-color a(85%));
    transform: translateX(100%);
  }

  &:hover {
    color: #eeeed1;
    letter-spacing: 1px;

    &:before {
      transform: translateX(-50%);
    }

    &:after {
      transform: translateX(50%);
    }
  }
}

@media only screen and (width >= 681px) {
  .button:first-child {
    margin-right: 10px;
  }
}


