.common {
  composes: inputs from '../../assets/general.css';
  flex: 1;
  position: relative;
  height: 40px;
  border-radius: 5px;
  padding: 0 50px 0 7px;
  background: white;
}

.input {
  composes: inputs from '../../assets/general.css';
  height: 100%;
  width: 100%;
  border: none;
}

.loupe {
  position: absolute;
  right: 10px;
  top: 3px;
  height: 35px;
  cursor: pointer;
}
