.main-container {
  // height: 100%;
  height: auto;
}

.container {
  padding: 100px 10px 0 10px;
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
}

.container-hidden {
  display: none;
}


.user-info-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.user-icon {
  $size: 60px;

  background: color(grey a(30%));
  margin-bottom: 10px;
  border-radius: 50%;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size;
  font-size: 23px;
}

.user-name {
  font-weight: bold;
}

.exit-link {
  text-decoration: none;
  color: color(black a(40%));
}

.list {
  margin-top: 30px;
  width: 100%;
  max-width: 320px;
}

.category {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 15px 10px;
}

.category-image {
  $size: 20px;

  height: $size;
  width: $size;
  margin-right: 15px;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.category {
  opacity: .6;
}

.active-link {
  opacity: 1;
}

.back-to-profile-link {
  composes: link;
  margin-bottom: 30px;
}

.child-container {
  min-width: 100%;
  min-height: 100vh;
  background: white;
  transition: opacity .3s ease-out;
}

.child-container-hidden {
  composes: child-container;
  opacity: 0;
  visibility: hidden;
  // transition: visibility .3s ease-out, opacity .3s ease-out;
}

.child-container-visible {
  composes: child-container;
  padding: 100px 10px 120px 10px;
  visibility: visible;
  opacity: 1;
}

.back-to-profile-link {
  position: relative;
  padding-left: 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid black;
  }
}

@media only screen and (width <= 480px) {
  .category {
    opacity: 1;
  }
}