.main-container {
  padding: 100px 10px 0 10px;
  min-height: 40vh;
  height: auto;
}

.container {
  display: flex;
  min-height: 90vh; 
  flex-flow: column nowrap;
  align-items: center;
}

.container-hidden {
  composes: container;
  display: none;
}

.user-info-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.user-icon {
  $size: 60px;

  background: color(grey a(30%));
  margin-bottom: 10px;
  border-radius: 50%;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size;
  font-size: 23px;
}

.user-name {
  font-weight: bold;
}

.exit-link {
  text-decoration: none;
  color: color(black a(40%));
}

.list {
  margin-top: 30px;
  width: 100%;
}

.category {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 15px 10px;
}

.category-image {
  $size: 20px;

  height: $size;
  width: $size;
  margin-right: 15px;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.active-link {
  opacity: 1;
}

.back-to-profile-link {
  composes: link;
  margin-bottom: 30px;
}

.child-container {
  min-width: 100%;
  min-height: 90vh;
  background: white;
  transition: opacity .3s ease-out;
}

.child-container-hidden {
  composes: child-container;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.child-container-visible {
  composes: child-container;
  visibility: visible;
  opacity: 1;
}

.back-to-profile-link {
  position: relative;
  padding-left: 10px;

  &:hover:after {
    transform: translateX(-50%);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 0;
    height: 0;
    transition: transform .25s ease-out;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid black;
  }
}

@media only screen and (width >= 768px) {
  .main-container {
    display: flex;
  }

  .link {
    opacity: .6;
  }

  .active-link {
    opacity: 1;
  }

  .container {
    min-width: 320px;
    border-right: 1px solid black;
    margin-right: 30px;
    margin-bottom: 100px;
  }

  .container-hidden {
    display: block;
  }

  .category {
    border-bottom: none;
  }

  .child-container {
    min-width: auto;
    flex: 1;
    padding-bottom: 120px;
    max-height: 120vh;
  }

  .child-container-hidden {
    visibility: visible;
    display: block;
    opacity: 1;
    height: 100%;
  }

  .back-to-profile-link {
    display: none;
  }
}
