.container {
  width: 100%;
}

.form-title {
  font-size: 130%;
  margin-bottom: 30px;
}

.restore-button {
  composes: buttons from '../../assets/general.css';
  margin-top: 40px;
  padding: 0 20px;
  width: auto;
  height: 40px;
}

@media only screen and (width >= 720px) {
  .container {
    border-left: 1px solid black;
    margin-top: 25px;
    padding-left: 60px;
  }
}