.shop-title {
  composes: big-title from '../../assets/typography.css';
  text-align: center;
  margin-bottom: 100px;
}

.title {
  composes: big-title from '../../assets/typography.css' ;
  width: 100%;
  text-align: center;
  margin: 50px 0 0 0;
}

.shop-link {
  composes: huge-link from '../../assets/typography.css';
  composes: links from '../../assets/general.css';
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.shop-links {
  margin-bottom: 100px;

  &:last-of-type {
    margin-bottom: 200px;
  }
}