.common {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9001;
  background: rgba(255, 255, 255, 0.87);
  width: 100vw;
  height: 100%;
  transition: top 0.5s ease-out;
  overflow: hidden;
}

.visible {
  composes: common;
  top: 0;
}

.hidden {
  composes: common;
  top: -100%;
}

.close {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 15px;
  left: 18px;
  cursor: pointer;
}

/*.button-close {
  $border: 2px solid black;
  $left: -2px;

  position: absolute;
  width: 30px;
  height: 0px;
  top: 25px;
  left: 18px;
  cursor: pointer;
  background: none;
  border: $border;

  &:before {
    position: absolute;
    top: -12px;
    left: $left;
    display: block;
    content: '';
    width: 30px;
    height: 100%;
    border: $border;
  }

  &:after {
    position: absolute;
    top: 9px;
    left: $left;
    display: block;
    content: '';
    width: 30px;
    height: 100%;
    border: $border;
  }
} */

/* Social */
.images {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.twitter, .instagram, .vk, .facebook {
  composes: images;
}

.twitter {
  background-image: url('./twitter.min.svg');
}

.instagram {
  background-image: url('./instagram.min.svg');
}

.vk {
  background-image: url('./vk.min.svg');
}

.facebook {
  background-image: url('./facebook.min.svg');
}

.social {
  margin-bottom: 9%;
}

/* login  */
.top-title {
  composes: links from '../../assets/general.css';
  font-weight: bold;
  font-size: 150%;
  display: flex;
  align-items: flex-end;
  margin: 10px 0 auto 0;
}

.top-image {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

/* */
.big-link {
  composes: links from '../../assets/general.css';
  font-weight: bold;
  font-size: 400%;
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: auto;
  }

  &:hover {
    color: color(black a(80%));
  }
}

@media only screen and (max-width: 480px) {
  .big-link {
    font-size: 350%;
  }
}