.common {
  margin: 60px 0 80px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.title {
  composes: big-title from '../../assets/typography.css' ;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}


