.common {
  height: 100%;
  composes: primary-font-family from '../../assets/typography.css';
}

/* css burger */
.hamburger {
  width: 28px;
  background: none;
  border: none;
  position: fixed;
  cursor: pointer;
  z-index: 9002;
  outline: none;
  top: 18px;
  left: 10px;

  &:hover .top-layer {
    transform: translateY(-50%);
  }

  &:hover .bot-layer {
    transform: translateY(50%);
  }
}

.hamburger-inactive {
  composes: hamburger;
}

.hamburger-active {
  composes: hamburger;
  transition: transform .25s ease-out;

  & .top-layer, &:hover .top-layer {
    transform: translateY(200%) rotate(45deg);
  }

  & .bot-layer, &:hover .bot-layer {
    transform: translateY(-200%) rotate(-45deg) ;
  }

  &:hover {
    transform: scale(1.2);
  }

  & .mid-layer {
    visibility: hidden;
    opacity: 0;
  }
}

.layer {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: color(black a(85%));
  transition: all .25s cubic-bezier(0.05, 1.04, 0.72, 0.98);

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.mid-layer {
  composes: layer;

}

.top-layer {
  composes: layer;

}

.bot-layer {
  composes: layer;
}