.common {
  margin-bottom: 200px;
}

.header {
  padding: 100px 20px 0 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  composes: big-title from '../../assets/typography.css';
}

.categories-opener {
  composes: buttons from '../../assets/general.css';
  font-size: 101%;
  width: 140px;
  height: 40px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background: black;
    color: white;
  }
}

.sort {
  width: 140px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .header {
    flex-flow: column;
  }

  .title {
    order: 1;
    margin-bottom: 20px;
  }

  .categories-opener {
    order: 2;
  }
}