.common {
  flex: 1;
  text-align: center;
  background: color(grey a(10%));
  margin: 0 20px 20px 20px;
  padding: 20px;
  cursor: pointer;
  transition: box-shadow .3s ease-out;

  &:hover {
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.3);
  }
}

.title {
  font-size: 150%;
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-name {
  &:hover {
    color: color(black a(80%));
  }
}

.image-wrapper {
  min-height: 300px;
}

.product-image {
  max-width: 470px;
  max-height: 470px;
}

.product-cost {
  display: block;
  margin: 5px 0 20px 0;
}

.add-to-cart {
  cursor: pointer;

  &:hover {
    color: color(black a(80%));
  }
}


