.common {
  composes: large-page-padding from '../../assets/layout.css';
  position: fixed;
  width: 100vw;
  background: ;
  height: 57px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #777777;
  background-color: color(white a(80%));
  z-index: 9998;
}

/* burgerino */
.burger {
  height: 30px;
  width: 25px;
  margin-right: 5px;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.visible {
  composes: burger;
  opacity: 1;
  visibility: visible;
}

.hidden {
  composes: burger;
  opacity: 0;
  visibility: hidden;
}

.logo {
  position: relative;
  height: 40px;
  width: 137px;
  top: -3px;
  margin-right: 40px;
  cursor: pointer;

  background-image: url('../../assets/images/logo1.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.phone-number {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.phone-link {
  composes: links from '../../assets/general.css';
}

.phone {
  height: 35px;
}

.cart {
  margin-left: 40px;
  height: 30px;
  cursor: pointer;
}