.inputs {
  composes: primary-font-family from './typography.css';
  border: 1px solid black;
  outline: none;
}

.decorated-input {
  composes: primary-font-family from './typography.css';
  border: 1px solid black;
  outline: none;
  margin-top: 7px;
  max-width: 300px;
  padding: 0 15px;
  flex: 1 40px;
  transition: box-shadow .3s ease-out;

  &:focus {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3)
  }
}

.links {
  text-decoration: none;
  color: black;
}

.buttons {
  composes: primary-font-family from './typography.css';
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 2px 0px rgba(0,0,0,.1),
              inset 0 2px 0px rgba(255,255,255,.6),
              0 1px 10px rgba(0,0,0,.25);
  outline: none;
  height: 100%;
  width: 100%;

  &:active {
    box-shadow:inset 0 2px 0px rgba(0,0,0,.1),  0 2px 0px rgba(255,255,255,.4), inset 0 0px 20px rgba(0,0,0,.2);
  }
}

.slide-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  background: white;
  height: 100vh;
  width: 375px;
  transition: right 0.3s ease-out;
}

/* white fixed background */
.fill-bg {
  z-index: 9998;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: color(white a(50%));
  transition: opacity 0.3s ease-out;
  left: 0;
  top: 0;
}

.fill-bg-visible {
  composes: fill-bg;
  visibility: visible;
  opacity: 1;
}

.fill-bg-hidden {
  composes: fill-bg;
  transition: all 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
