@font-face {
  font-family: "PT Sans";
  src: url(./fonts/PTS55F.ttf);
}

@font-face {
  font-family: "Lemon Tuesday";
  src: url(./fonts/LemonTuesday.otf);
}

.primary-font-family {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
}

.secondary-font-family {
  font-family: "Lemon Tuesday";
  color: white;
}

.medium-title {
  font-size: 120%;
  font-weight: bold;
}

.big-title {
  font-size: 250%;
}

.huge-link {
  font-size: 450%;
}