.container {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.content {
  flex: 1;
}

.product-picture {
  width: 115px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 15px;
}

.product-cost {
  margin-left: 10px;
}

.product-cost-wrapper {
  margin-bottom: 15px;
}

.delete-item {
  cursor: pointer;
  display: block;
  margin-top: 5px;
}