:root {
  --panels-width: 375px;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global {
  #root {
    height: 100%;
  }
}

html, body {
  height: 100%;
}


@media only screen and (max-width: 480px) {
  :root {
    --panels-width: 100vw;
  }
}